<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-female"></i>
                    <h2>Consuelo Perrone</h2>
                    <p>Cperronellavar@udesa.edu.ar</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-female"></i>
                    <h2>Sofia Cortes</h2>
                    <p>scortes@udesa.edu.ar</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-female"></i>
                    <h2>Micaela Faur</h2>
                    <p>mfaur@udesa.edu.ar</p>
                </article>
            </div>
        </div>
    </div>
</footer>