<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/download.png" />
	
	<title> Cars PRO </title>
			<!-- Font Awesome Stylesheet -->
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">

	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<%- include('./partials/headerNoLogueado.ejs') %>
</head>

<body>
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="formulario">
				<h2 class="col-12"> 
					<form action="/datos/profile">

						<p>Mail:</p>
						<input type="text" name="email" required>

						<p>Contraseña: </p>
						<input type="password" name="password" required>

						<p>  <input type="submit" value="Submit"> </p>

					</form>
				</h2>
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<footer>
		<%- include('./partials/footer.ejs') %>
	</footer>
	
</body>

</html>