<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/download.png" />

	<title> Cars PRO</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">

	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	
</head>

<body>
	<% if (usuarioLogueado) { %> 
		<%- include('./partials/headerLogueado.ejs') %>
		<% } else { %>
			<%- include('./partials/headerNoLogueado.ejs') %>
		<% } %>
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
				
			</div>
			<!-- Show the "ultimos" products -->
			<div class="formulario">
				<h2 class="col-12"> 
					<form action="/crear-producto" method="POST" enctype= 'multipart/form-data' >

						<p>Descripcion: </p>
						<input type="text" name="descripcion" required>

						<p>Modelo: </p>
						<input type="text" name="modelo">

						<p>Imagen: </p>
						<input type="file" name="imagen" required>

						<p>  <input type="submit" value="Submit"> </p>

					</form>
				</h2>

			</div>
			

		</div>
	</div>

	<footer>
		<%- include('./partials/footer.ejs') %>
	</footer>

</body>

</html>