<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/download.png" />

	<title> Cars PRO</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	
</head>
<body>
	
	<% if (usuarioLogueado) { %> 
		<%- include('./partials/headerLogueado.ejs') %>
		<% } else { %>
			<%- include('./partials/headerNoLogueado.ejs') %>
		<% } %>


	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= resultado.name_producto %></h2> 
			<p class="product-detail-description">
				<a href="/products-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/Audi-Q2-2021-delantera5.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						El Audi Q2 es un SUV crossover de lujo subcompacto desarrollado y fabricado por Audi. Se presentó por primera vez al público el 1 de marzo de 2016, en el Salón del Automóvil de Ginebra de 2016. El vehículo, que se fabrica en la sede de Audi en Ingolstadt, Alemania, se basa en la plataforma MQB de Volkswagen.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/datos/profile">Nombre usuario: </a> </strong>
								 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/datos/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/datos/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/datos/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/datos/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>
                         <article>
							 <div>
							
							 </div>
						 </article> 
					</section>

					<form class="form" action="/products" method="POST">
						<input class="form-input" type="text" name="agregar" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<%- include('./partials/footer.ejs') %>
	</footer>

</body>	
</html>