<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />" />  //chequear
	<link width="" rel="shortcut icon" href="/images/download.png" />

	<title> Cars PRO </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<%- include('./partials/headerNoLogueado.ejs') %>

</head>	

<body>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="formulario">
				<h2 class="col-12"> 
					<form action="/">

						<p> Nombre: </p>
							<input type="text" name="name" required>

						<p> Apellido: </p>
							<input type="text" name="lname" required>

						<p>Mail:</p>
							<input type="text" name="email" required>

						<p>Contraseña: </p>
							<input type="password" name="pass" required>
						
						<p>Edad:</p>
							<input type="number" value="age" required>

						<p>Fecha de nacimiento:</p>
							<input type="number" value="date" required>

						<p>  <input type="submit" value="Submit"> </p>

					</form>
				</h2>
			</div>
			


		</div>

	</div>

	<footer>
		<%- include('./partials/footer.ejs') %>
	</footer>

</body>



</html>